mixin parameters
  section.parameters
    .container
      .parameters__container
        h3.parameters__title Параметры типажного пома
        p.parameters__desc Что формирует стоимость щеночка?

        .parameters__scheme
          +img('parameters-dog.png', 'parameters__scheme-dog')
          .parameters__scheme-parameter(
            data-aos="fade-zoom-in"
            data-aos-delay="300"
            data-aos-duration="600"
            data-aos-anchor-placement="bottom-bottom"
          )
            +img('parameter-line1.png', 'parameters__scheme-parameter-line')
            p.parameters__scheme-parameter-text Квадратный корпус

          .parameters__scheme-parameter(
            data-aos="fade-zoom-in"
            data-aos-delay="1200"
            data-aos-duration="600"
            data-aos-anchor-placement="bottom-bottom"
          )
            +img('parameter-line2.png', 'parameters__scheme-parameter-line')
            p.parameters__scheme-parameter-text Крепкий широкий костяк

          .parameters__scheme-parameter(
            data-aos="fade-zoom-in"
            data-aos-delay="1500"
            data-aos-duration="600"
            data-aos-anchor-placement="bottom-bottom"
          )
            +img('parameter-line3.png', 'parameters__scheme-parameter-line')
            p.parameters__scheme-parameter-text Верное прилегание хвостика

          .parameters__scheme-parameter(
            data-aos="fade-zoom-in"
            data-aos-delay="2100"
            data-aos-duration="600"
            data-aos-anchor-placement="bottom-bottom"
          )
            +img('parameter-line4.png', 'parameters__scheme-parameter-line')
            p.parameters__scheme-parameter-text Толстые лапки

          .parameters__scheme-parameter(
            data-aos="fade-zoom-in"
            data-aos-delay="2400"
            data-aos-duration="600"
            data-aos-anchor-placement="bottom-bottom"
          )
            +img('parameter-line5.png', 'parameters__scheme-parameter-line')
            p.parameters__scheme-parameter-text Высокое качество структуры шерсти. Густой подшерсток

          .parameters__scheme-parameter(
            data-aos="fade-zoom-in"
            data-aos-delay="1800"
            data-aos-duration="600"
            data-aos-anchor-placement="bottom-bottom"
          )
            +img('parameter-line6.png', 'parameters__scheme-parameter-line')
            p.parameters__scheme-parameter-text Широкая мордашка

          .parameters__scheme-parameter(
            data-aos="fade-zoom-in"
            data-aos-delay="900"
            data-aos-duration="600"
            data-aos-anchor-placement="bottom-bottom"
          )
            +img('parameter-line7.png', 'parameters__scheme-parameter-line')
            p.parameters__scheme-parameter-text Курносость

          .parameters__scheme-parameter(
            data-aos="fade-zoom-in"
            data-aos-delay="600"
            data-aos-duration="600"
            data-aos-anchor-placement="bottom-bottom"
          )
            +img('parameter-line8.png', 'parameters__scheme-parameter-line')
            p.parameters__scheme-parameter-text Круглые ушки
