mixin catalog
  -
    const cardData = [
      {
        img: 'dog1.png',
        title: 'Рыжий',
        text: 'Один из самых популярных окрасов. Имеет несколько оттенков.'
      },
      {
        img: 'dog2.png',
        title: 'Белый',
        text: 'Белоснежные щенки выглядят великолепно. Поделимся секретом, как сохранить белую шерсть в течение жизни, чтобы она не пожелтела.'
      },
      {
        img: 'dog3.png',
        title: 'Черный',
        text: 'В хорошем проявлении встречается редко. Чтобы щенок был чёрным всегда, «не поседел» или не стал чёрно-рыжим, шерсть должна быть хорошо пигментированна.'
      },
      {
        img: 'dog4.png',
        title: 'Кремовый',
        text: 'Самый популярный окрас. Имеет множество оттенков от «холодного крема» до «тёплого крема».'
      },
      {
        img: 'dog5.png',
        title: 'Оранж',
        text: 'Окрас похож на рыжий, но менее темный. Имеет множество оттенков от лайт-оранж(почти кремовый) до ярко оранжевого. Бывает с соболем и без.'
      },
      {
        img: 'dog6.png',
        title: 'Черно-подпалый',
        text: 'Окрас нераспространенный. В хорошем экстерьере щенок похож на мишку гризли.'
      },
      {
        img: 'dog7.png',
        title: 'Крем-соболь',
        text: 'Окрас знаменит тем, что соболь с возрастом сходит, и из «серо-пепельного» щенка вырастает щенок кремового окраса с легкой дымкой пепельного на кончиках шерсти.'
      },
      {
        img: 'dog8.png',
        title: 'Рыже-соболинный',
        text: 'Очень интересный окрас. Помимо того, что есть множество оттенков рыжего, соболь бывает разный. Сойдет полностью, перецветая в ярко-рыжий, останется почти неизменным или только немного? Решать вам.'
      },
      {
        img: 'dog9.png',
        title: 'Пати-колор',
        text: 'Один из редких окрасов, сочетающий в себе 2 или более оттенков и цветов. Подобно окрасу «мерле», уникален тем, что расположение этих цветов и оттенков никогда не повторяется.'
      },
      {
        img: 'dog10.png',
        title: 'Лиловый',
        text: 'Один из самых редких окрасов, наряду с «мерле» и «голубым». Это цвет молочного шоколада с фиолетовым оттенком.'
      },
      {
        img: 'dog11.png',
        title: 'Мерле',
        text: 'Мерле(мраморный). Один из самых редких окрасов. Уникален тем, что расположение мрамора никогда не повторяется. Ваш щенок будет единственным в своём окрасе.'
      },
      {
        img: 'dog12.png',
        title: 'Шоколадный',
        text: 'Достаточно редкий окрас. Чтобы щенок был шоколадным всегда, «не поседел» или не стал рыже-шоколадным, шерсть должна быть хорошо пигментирована.'
      }
    ]

  section.catalog
    .container
      .catalog__container
        each card in cardData
          .catalog__content
            label
              input.catalog__checkbox(type="radio" name="catalog")
              .catalog__card(
                data-aos="flip-left"
                data-aos-anchor-placement="top-bottom"
                data-aos-duration="800"
              )
                .catalog__card-front
                  +img(card.img, 'catalog__card-dog')
                  .catalog__card-add
                    +svg('more', '30px', '30px', 'catalog__card-add-icon')
                .catalog__card-back
                  .catalog__card-content
                    p.catalog__card-text !{card.text}
            p.catalog__card-title !{card.title}
            a.btn.btn--border.catalog__btn.js-open-popup(href="#")
              span.btn__text Хочу!
