mixin help
  section.help
    .container
      .help__container
        .help__item(
          data-aos="fade-up"
          )
          +img('icons/advantage6.png', 'help__item-icon')
          p.help__item-text Объясним, из чего складывается стоимость
        .help__item(
          data-aos="fade-up"
          data-aos-delay="200"
          )
          +img('icons/advantage7.png', 'help__item-icon')
          p.help__item-text Поможем в выборе и уходе
        .help__item(
          data-aos="fade-up"
          data-aos-delay="400"
          )
          +img('icons/advantage8.png', 'help__item-icon')
          p.help__item-text Предоставим запас питания и пелёнок
        .help__item(
          data-aos="fade-up"
          data-aos-delay="600"
          )
          +img('icons/advantage9.png', 'help__item-icon')
          p.help__item-text У Вас будет умный и приученный к туалету щенок
        .help__item(
          data-aos="fade-up"
          data-aos-delay="800"
          )
          +img('icons/advantage10.png', 'help__item-icon')
          p.help__item-text Поможем начать карьеру будущему чемпиону
        .help__item(
          data-aos="fade-up"
          data-aos-delay="1000"
          )
          +img('icons/advantage11.png', 'help__item-icon')
          p.help__item-text
            | Подберем щенка
            br
            | «на подушку» или для вязки
