mixin advantages
  section.advantages
    .container
      .advantages__container
        .advantages__advantage(
          data-aos="fade-up"
          )
          +img('icons/advantage1.png', 'advantages__advantage-icon')
          p.advantages__advantage-text 100% чистокровные щенки
        .advantages__advantage(
          data-aos="fade-up"
          data-aos-delay="200"
          )
          +img('icons/advantage2.png', 'advantages__advantage-icon')
          p.advantages__advantage-text Малыши в любом бюджете
        .advantages__advantage(
          data-aos="fade-up"
          data-aos-delay="400"
          )
          +img('icons/advantage3.png', 'advantages__advantage-icon')
          p.advantages__advantage-text Поддержка персональными специалистами
        .advantages__advantage(
          data-aos="fade-up"
          data-aos-delay="600"
          )
          +img('icons/advantage4.png', 'advantages__advantage-icon')
          p.advantages__advantage-text В наличии щенки любых окрасов
        .advantages__advantage(
          data-aos="fade-up"
          data-aos-delay="800"
          )
          +img('icons/advantage5.png', 'advantages__advantage-icon')
          p.advantages__advantage-text Щеночки от кинолога
